<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title th:text="${mode == 'CREATE'} ? 'create' : 'edit'"></title>
    </head>
    <body>
        <div>
            <form th:action="${mode == 'CREATE'} ? @{/tasks} : @{/tasks/{id}(id=${id})}"
                  th:method="${mode == 'CREATE'} ? post : put"
                  th:object="${taskForm}">
                <div>
                    <label for="summaryInput">summary</label>
                    <input type="text" id="summaryInput" th:field="*{summary}">
                    <span th:errors="*{summary}"></span>
                </div>
                <div>
                    <label for="descriptionInput">description</label>
                    <textarea id="descriptionInput" th:field="*{description}"></textarea>
                    <span th:errors="*{description}"></span>
                </div>
                <div>
                    <label for="statusInput">status</label>
                    <select id="statusInput" th:field="*{status}">
                        <option value="TODO">TODO</option>
                        <option value="DOING">DOING</option>
                        <option value="DONE">DONE</option>
                    </select>
                    <span th:errors="*{status}"></span>
                </div>
                <div>
                    <button type="submit" th:text="${mode == 'CREATE'} ? 'create' : 'edit'">create</button>
                    <a th:href="${mode == 'CREATE'} ? @{/tasks} : @{/tasks/{id}(id=${id})}">back</a>
                </div>
            </form>
        </div>
    </body>
</html>