<!DOCTYPE html>
<html lang="ja"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
>
<head>
    <title>create tasks</title>
</head>
<body>
    <section layout:fragment="content">
        <div>
            <form th:action="@{/tasks}" method="post">
                <div>
                    <label for="summaryInput">summary</label>
                    <input type="text" id="summaryInput" name="summary">
                </div>
                <div>
                    <label for="descriptionInput">description</label>
                    <textarea id="descriptionInput" name="description"></textarea>
                </div>
                <div>
                    <label for="statusInput">status</label>
                    <select id="statusInput" name="status">
                        <option value="TODO">TODO</option>
                        <option value="DOING">DOING</option>
                        <option value="DONE">DONE</option>
                    </select>
                </div>
                <div>
                    <button type="submit">create</button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>